################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/netauthclientdemon/obj
/netauthserver/obj
/netauthserver/bin/Debug/netcoreapp2.2
/netauthclientdemon
